.pill {
    @apply text-xs rounded-full py-1 px-2 uppercase font-semibold;

    &.pill-green {
        @apply bg-green-500 text-white;
    }

    &.pill-red {
        @apply bg-red-500 text-white;
    }

    &.pill-grey {
        @apply bg-grey-300 text-white;
    }
}

.no-scroll {
    @apply overflow-hidden h-full;
}


.turbolinks-progress-bar {
    height: 5px;
    @apply bg-white;
}

h1, h2, h3, h4, h4, h6 {
    @apply text-grey-900;
}

.alert {
    @apply w-3/4 z-50 mx-auto left-0 right-0 transition fixed rounded shadow-lg border-b-2 border-green-500 bg-grey-900 text-white pl-4 pr-8 py-6 flex items-start;
    bottom: 25px;
}

.loader {
    @apply pointer-events-none relative;
    color: transparent !important;
}

.loader:after {
    animation: spinAround 500ms infinite linear;
    @apply border-2 border-white block h-4 w-4 relative absolute;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    left: calc(50% - (theme('width.4') / 2));
    top: calc(50% - (theme('height.4') / 2));
    position: absolute !important;
}

.loader-green:after {
    animation: spinAround 500ms infinite linear;
    @apply border-2 border-green-500 block h-4 w-4 relative absolute;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    left: calc(50% - (theme('width.4') / 2));
    top: calc(50% - (theme('height.4') / 2));
    position: absolute !important;
}

@keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@screen lg {
    .alert {
        @apply w-auto mx-0 left-auto;
        min-width: 400px;
        right: 40px;
        bottom: 40px;
    }
}
