@import "tailwindcss";
@import '../../../vendor/livewire/flux/dist/flux.css';

@theme {
    --font-sans: Inter, sans-serif;

	--color-green-100: #e6f6e3;
	--color-green-200: #caedc4;
	--color-green-300: #abe2a1;
	--color-green-400: #86d578;
	--color-green-500: #00B140;
	--color-green-600: #18a000;
	--color-green-700: #158c00;
	--color-green-800: #117400;
	--color-green-900: #0c5300;
	--color-green-bright: #08cd4f;
	--color-black-grey: #121514;
}

@import "./_buttons.css" layer(components);
@import "./_forms.css" layer(components);
@import "./_nav.css" layer(components);
@import "./_tables.css" layer(components);
@import "./_utils.css" layer(components);
@import "./_base.css" layer(components);

.large-table {
    @apply overflow-x-auto;
}

x-cloak {
    display: none;
}
